<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>USERS</title>
</head>
<body>
<a href="/edit"><i>Add User</i> ></a>
<table>
        <tr>
            <th>First  Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Feedback</th>
        </tr>
        <tbody>
        <tr th:each=  "u : ${users}">
        <td th:text ="${u.firstName}"></td>
        <td th:text ="${u.lastName}"></td>
        <td th:text ="${u.emailAddress}"></td>
        <td th:text ="${u.feedback}"></td>
        <td> <a th: href="@{/edit/{id}/(id=${user.id})">EDIT</a> </td>
        <td> <a th: href="@{/delete/{id}/(id=${user.id})">DELETE</a> </td>
        </tr>
        </tbody>
    </table>
</body>
</html>